[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Core Sq
Comment=Connect to the Bitcoin Core P2P Network
Comment[de]=Verbinde mit dem Bitcoin Core peer-to-peer Netzwerk
Comment[fr]=Bitcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcoin, eşten eşe kriptografik sanal para birimi
Exec=clashic-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/bitcoincore;
Categories=Office;Finance;
